// Customizations Here
$primary: #ecb410;
$primary-invert: #ffffff;
$info: #797920;
$link: #c15604;
$link-hover: #797920;
$link-focus: $link-hover;
$navbar-item-hover-color: $link-hover;
$navbar-item-hover-background-color: none;
$button-focus-box-shadow-size: 0px;

// Bulma Import
@import "~bulma";
@import "~bulma-ribbon/src/sass";
@import "~@creativebulma/bulma-badge/src/sass/index.sass";
