.container {
  width: 100%;
  overflow: hidden;
}

.loopSlide {
  display: inline-block;
  animation: var(--text-loop-animation-duration) slide infinite linear;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
